.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{width: 100%;
}



.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{padding: 7px 14px !important;}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{padding: 7px 14px !important;}
.css-wh4yja-MuiFormControl-root{margin: 16px 0 0 0 !important;}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{flex-direction: row !important;width: 100% !important;  max-width: 70% !important;}
.dialogContent{padding: 0 20px 20px 20px !important;}